body{
    height: 100vh;
    display: grid;
    gap: .5rem;
    grid-template-columns: 1fr 2fr 1fr; grid-template-rows: .1fr 1fr .1fr;
}
header{
    background-color: blue;
    grid-column:1/ 4 ;
    grid-row:1/ 2 ;
}
aside{
    background-color: green;
    grid-column:1/ 1 ;
    grid-row:2/ 3 ;
}
main{
    background-color: red;
    grid-column:2/ 4 ;
    grid-row:2/ 3 ;
}
footer{
    background-color: blueviolet;
    grid-column:1/ 4 ;
    grid-row:3/ 4 ;
}